<h1>Editar tamaño</h1>
<%= link_to '<< Volver', pet_sizes_path %>
   <%= form_for(@pet_size, url: pet_size_path(@pet_size)) do |f| %>

    <%= render(:partial  => "form", :locals => {:f => f}) %>
  <div class="form-buttons">
    <%= submit_tag("Actualizar datos") %>

</div>
<% end %>



