<h1>Listado tama침o</h1>
<%= link_to 'Nuevo tama침o', new_pet_size_path %>
<table class="table table-hover">
  <tr>
    <th>Tama침o</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pet_sizes.each do |pet_size| %>
  <tr>
    <td><%= pet_size.name %></td>
    <td><%= link_to 'Editar', edit_pet_size_path(pet_size) %></td>
    <td><%= link_to 'Borrar', pet_size, method: :delete, data: { confirm: 'Est치s seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />


