<h1>Editar color</h1>
<%= link_to '<< Volver', pet_type_colours_path %>
   <%= form_for(@pet_type_colour, url: pet_type_colour_path(@pet_type_colour)) do |f| %>

    <%= render(:partial  => "form", :locals => {:f => f}) %>
  <div class="form-buttons">
    <%= submit_tag("Actualizar datos") %>

</div>
<% end %>



