<h1>Editar raza</h1>
<%= link_to '<< Volver', pet_type_breeds_path %>
   <%= form_for(@pet_type_breed, url: pet_type_breed_path(@pet_type_breed)) do |f| %>

    <%= render(:partial  => "form", :locals => {:f => f}) %>
  <div class="form-buttons">
    <%= submit_tag("Actualizar datos") %>

</div>
<% end %>




