<h1>Nueva raza</h1>
<%= link_to '<< Volver', pet_type_breeds_path %>
  <%= form_for(:pet_type_breed, :url => {:action=>'create'}) do |f| %>
  <%= render(:partial  => "form", :locals => {:f => f}) %>

<div class="form-buttons">
<%= submit_tag("Alta") %>

</div>
<% end %>


