<% @page_title = "Administracion" %>
<div class="menu">
  <div class="identity"> Pagina adminitrador</div>
  <ul>
    <li><%= link_to("adminstrar mascotas", :controller=>'pets') %> </li>
      <li><%= link_to("Logout", :action=>'logout') %> </li>
  </ul>
</div>

