<div class="row">

  <div class="col-lg-2 col-md-2">
   <%= render 'layouts/nav_administracion' %>
  </div>
  <div class="col-lg-10 col-md-10">
    <h2> Editar datos: </h2>
    <br>
    <%= render 'form' %>
    </div>
  </div>
</div>
