<h1>Nuevo tipo de mascota</h1>
<%= link_to '<< Volver', pet_types_path %>
 <%= form_for(:pet_type, :url => {:action=>'create'}) do |f| %>
  <%= render(:partial  => "form", :locals => {:f => f}) %>

<div class="form-buttons">
<%= submit_tag("Alta") %>

</div>
<% end %>



