<%= link_to '<< Volver', shelter_carers_path %>
<div class="info">
  <h3>Alta cuidador</h3>

    <%= form_for([@shelter, @carer], :url => {:action=>'create'}) do |f| %>
    <%= render(:partial  => "form", :locals => {:f => f}) %>

  <div class="form-buttons">
  <%= submit_tag("Alta", {:class=>"btn btn-info"}) %>

  </div>
</div>
<% end %>
