
<% object = errors_panel %>
<% if object.errors.any? %>
  <div id="error_explanation">
    <p>Hay errores que impiden salvar el registro. Por favor, revisa los campos marcados</p>


  </div>
<% end %>