<ul class="nav nav-pills nav-stacked">
     <li> <%= nav_link 'Datos globales', shelters_path(current_shelter.id) %></li>
     <li><%= nav_link 'Ver mascotas', shelter_pets_path(current_shelter.id) %></li>
     <li><%= nav_link 'Ver cuidadores', shelter_carers_path(current_shelter.id) %></li>
     <li><%= nav_link 'Editar datos refugio', edit_shelter_path(current_shelter.id) %></li>
    
</ul>